pandas>=1.5.3
numpy>=1.24.2
black>=23.1.0
flake8>=6.0.0
mypy>=1.0.0
matplotlib>=3.7.0
nltk==3.8.1
transformers==4.26.1
spacy==3.5.0
scikit-learn==1.2.1
wandb>=0.13.11
seaborn==0.12.2
data-science-types==0.2.23
emoji==2.2.0
fastapi
uvicorn[standard]
sentence-transformers==2.2.2
pydantic==1.10.7
# pytorch
